body {

    background: #3AB8A2;
    background: radial-gradient(circle, rgba(58, 184, 162, 1) 0%, rgba(142, 215, 171, 255) 52%)
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form-card {
    justify-content: center;
    background-color: rgb(255, 255, 255);
    width: 23%;
    max-width: 23%;
    height: 56%;

    border-radius: 10px;



    position: fixed;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

}

.form-card h2,
.form-card input {
    margin-left: 8%;
}


.signin-title {
    color: rgb(39, 175, 134);
    text-align: center;
    margin-right: 50px;
    margin-top: 60px;
}



.submit {
    background-color: #3AB8A2;
    color: white;
    border-radius: 3px;
    border: none;
    padding: 4% 7%;

    position: inherit;
    left: 28%;
    top: 63%;

}

a {
    text-decoration: none;
}

.email {


    padding: 10px;
    border: 2px solid #ccc;
    font-size: 16px;
    color: #555;
    background-color: transparent;
    outline: none;
    display: block;
    width: 80%;
    height: 6%;
    max-width: 90%;

}

.pass {

    margin-top: 5%;

    padding: 10px;
    border: 2px solid #ccc;
    font-size: 16px;
    color: #555;
    background-color: transparent;
    outline: none;
    display: block;
    width: 80%;
    height: 6%;
    max-width: 90%;

}

.show {

    margin-top: 0;
    position: inherit;
    top: 56%;
    left: 0%;

}

.sh-pass {
    position: inherit;
    top: 55.5%;
    left: 13%;
}



.forgot {
    display: inline;
    text-align: center;
    position: inherit;
    top: 71%;
    left: 24%;
    margin-top:8%;
}

.dha {


    position: inherit;
    top: 77%;
    left: 22%;
     margin-top:8%;
}