body {

    background: #8600C8;
    background: linear-gradient(114deg, rgba(134, 0, 200, 1) 0%, rgba(182, 0, 196, 255) 78%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.login-box {

    background-color: white;
    width: 55%;
    height: 66%;


    border-radius: 54px;
}



.form-box {
    width: 44%;
    height: 100%;

    float: right;
    justify-content: center;
    align-items: center;
    text-align: center;


}


.form {
    justify-content: center;
    align-items: center;
    text-align: center;
}





.laptop {
    float: left;
    width: 33%;
    height: auto;
    border-radius: 197px;

    margin-left: 7%;
    margin-top: 11%;
}



.title {
    margin-top: 17%;
    margin-bottom: 11%;
}

.group1,
.group2 {
    margin-left: 13%;
    margin-bottom: 10%;
}


.group1 {
    line-height: 30px;
    max-width: 200px;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.group2 {
    line-height: 30px;
    max-width: 200px;
    justify-content: center;
    align-items: center;
    text-align: center;

}





.email,
.pass {

    width: 100%;
    height: 45px;
    line-height: 30px;
    padding: 0 5rem;
    padding-left: 3rem;
    border: 2px solid transparent;
    border-radius: 20px;
    outline: none;
    background-color: #dddddd;
    color: #0d0c22;


}

.submit {

   padding: 3% 30%;
    font-size: 109%;
    background-color: #1fcc44;
    border: none;
    border-radius: 36px;

color: white;



}

.group1 .ei{
    position: fixed;
    top: 36%;
    left: 57.5%;
}


.group2 .lock{
    position: fixed;
    top: 46%;
    left: 57.5%;
}




a{
    color: #1fcc44;
    text-decoration: none;
}

.forgot{
    margin-bottom: 12%;
}