
*{
     font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.linkedin-logo {

  width: 10%;
  height: auto;
  float: left;
  margin: 15px 20px;
}


.linkedin-logo-black{
  width:7%;
  height: auto;
}
/*
.card {
  width: 30%;
  height:fit-content;

border-radius: 3px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 3px 0.3px black;

position:fixed;
top:29%;
left:34%;

}
*/
.card-con{
width:100%;
max-width:100%;

}

.signin-title{

  display: inline-block;
  margin-left:7%;
 font-size:33px;
}

.desc{
  display: inline;
margin-left:7%;
}

.eOp{

margin-top:5%;
margin-left: 7%;

   padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #555;
  outline: none;
  display: block;
  width: 80%;
  height: 6%;
  max-width:90%;
 
}

.show{
  position: fixed;
      left: 56%;
    top: 45.5%;

color: #0a66c2;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.show2{
  color: #0a66c2;
  text-decoration: none;
}

.pass{


margin-top:2%;
margin-left: 7%;
margin-bottom:3%;

   padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #555;
  outline: none;
  display: block;
  width: 80%;
  height: 6%;
  max-width:90%;

}



.form-card {
  width: 23%;
  height:56%;

border-radius: 10px;
  background-color: rgb(255, 255, 255);
box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

position:fixed;
top:20%;
left:38%;

}

.forgot{
  margin-left: 7%;
  color: #0a66c2;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


footer{
 max-width: 100%;
  position:fixed;
  bottom: 0;
  left:15%;
margin: 2% 2%;

}

footer a, footer img, footer select {

margin-right:3%;


}

footer a{
  text-decoration: none;
  color:#3b3b3b;


}

.signIn{
border: none;
margin-left:7%;
background-color:#0a66c2;
border-radius:100px;
text-align: center;
color: white;
padding:3% 10%;

width:86%;
  margin-top: 3%;
font-size: 20px;

}

.apple{
  border: 2px solid rgba(128, 128, 128, 0.637);
margin-left:7%;
background-color:transparent;
border-radius:100px;
text-align: center;
color: white;
padding:3% 10%;

width:86%;
  margin-top: 3%;
  color: black;
font-size: 20px;

}


.divider {
  display: flex;
  align-items: center;
  text-align: center;
  color: #666;
  margin: 20px 0;
  padding: 0 20px;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.divider:not(:empty)::before {
  margin-right: .75em;
}

.divider:not(:empty)::after {
  margin-left: .75em;
}






.fa-brands{
  font-size:30px;
  position: fixed;
  top: 69.2%;
  left: 43%;
}

.last{
  position: fixed;
  top: 80%;
  left: 44%;
  
}
.last p, .last a{
  display: inline;
  font-size: 17px;
}
