body {
    margin: 0;
    background-color: #e3e3ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.login-box {
    justify-content: center;
    background-color: #8887c4;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(209, 131, 255, 0.514);
    width: 23%;
    height: 56%;
    text-align: center;
    color: white;

}



.fn, .ln,.email, .pass, .c-pass {


    background-color: white;
    margin-bottom:3%;
    height:10%;

     padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}



.fn, .ln{
    width:42%;
}


.email, .pass,.c-pass {

    width: 90%;


}

.checkbox{

display: inline;
margin-top: 6%;
}




.submit{
    display: block;
    width: 75%;
    padding: 2% 4%;
    font-size: 112%;
    margin-left: 11%;
    margin-top: 7%;
    border: none;
    border-radius: 26px;
    background-color: #8f8b86;
}


.login-box .title {}


.form {}